body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.titulo {
  background-color:rosybrown;
  height: 50pt;
  width: 100%;
  margin-top:0%;
  display: inline-block;
}

h1 {
  text-align: center;
  color:royalblue;
}


div {
  text-align: center;
}

.perfil {
  background-color: wheat;
  width: 700pt;
  height: 200pt;
  display:table-cell;
}

.rosa {
  width: 20pt;
  height: 40pt;
  background-color:rosybrown;
  display:table-cell;
}

.curso {
  background-color: wheat;
  width: 700pt;
  height: 600pt;
  display:table-cell;
}

select {
  background-color:slategray;
}